

<table border=1>
	<th>Date and Time</th>
	<th>Doctor</th>

<% @patient.appointments.each do |appt| %>
	
	<tr>
		<td> <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> </td>
		<td> <%= link_to appt.doctor.name, appt.doctor %> </td>
	</tr>

<% end %>

</table>